<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" UpgradeCode="B9C2B51E-8194-4cc4-AF57-9E6743212A55"
		Name="RoboMirror" Manufacturer="Martin Kinkelin" Language="1033" Version="0.5.0.0">
		<Package InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />

		<!-- check for .NET Framework >= v2.0 when installing -->
		<Condition Message="Microsoft.NET Framework v2.0+ is not installed. Please browse to http://www.microsoft.com/net/DownloadCurrent.aspx and download the latest .NET Framework.">
			Installed OR MsiNetAssemblySupport >= "2.0.50727"
		</Condition>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ShortcutsFolder" Name="RoboMirror">
					<Component Id="ShortcutsComponent" Guid="*">
						<RegistryValue Root="HKCU" Key="Software\RoboMirror" Value="" Type="string" KeyPath="yes" />
						<Shortcut Id="StartProduct" Name="RoboMirror" Target="[INSTALLLOCATION]RoboMirror.exe" />
						<Shortcut Id="UninstallShortcut" Name="Uninstall" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
						<RemoveFolder Id="RemoveShortcutsFolder" On="uninstall" />
					</Component>
				</Directory>
			</Directory>

			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="RoboMirror">
					<Component Id="CoreComponent" Guid="B135F1D1-9121-402e-B935-7D1693BE11EF">
						<File Source="..\Release\RoboMirror.exe" />
						<File Source="..\Release\RoboMirror.exe.config" />
						<File Source="..\Release\Microsoft.Win32.TaskScheduler.dll" />
						<File Source="..\Readme.txt" />
					</Component>

					<Directory Id="ToolsSubfolder" Name="Tools">
						<Component Id="ToolsComponent" Guid="8BE8A85F-4888-45e4-BFCB-546950C53710">
							<File Source="..\Release\Tools\Robocopy.exe" />
							<File Source="..\Release\Tools\vshadow32.exe" />
							<File Source="..\Release\Tools\vshadow64.exe" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="CoreFeature" Title="RoboMirror core" Description="GUI front-end for Robocopy"
						 Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION" Level="1">
			<ComponentRef Id="CoreComponent" />
			<ComponentRef Id="ShortcutsComponent" />
		</Feature>
		<Feature Id="ToolsFeature" Title="Tools" Description="Older Robocopy version for pre-Vista OS and vshadow.exe (32 &amp; 64 bit)."
						 Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION" Level="1">
			<ComponentRef Id="ToolsComponent" />
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="..\License.rtf" />
		<UI>
			<UIRef Id="WixUI_Minimal" />
			<UIRef Id="WixUI_ErrorProgressText" />
		</UI>

		<CustomAction Id="SetIconInAddRemovePrograms" Property="ARPPRODUCTICON"
									Value="[INSTALLLOCATION]RoboMirror.exe" HideTarget="no" />

		<CustomAction Id="PrepareCreateEventSource" Property="CreateEventSource"
									Value="&quot;[#RoboMirror.exe]&quot; -i" />
		<CustomAction Id="CreateEventSource" BinaryKey="WixCA" DllEntry="CAQuietExec"
									Execute="deferred" Return="check" Impersonate="no" />

		<InstallExecuteSequence>
			<Custom Action="PrepareCreateEventSource" After="CostFinalize">&amp;CoreFeature = 3</Custom>
			<Custom Action="CreateEventSource" Before="InstallFinalize">&amp;CoreFeature = 3</Custom>
		</InstallExecuteSequence>
	</Product>
</Wix>
